@charset "URF-8";

@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root {
    --color-1: rgb(222, 111, 71);
    --color-2: rgb(255, 204, 82);
    --color-3: rgb(77, 58, 34);
    --color-4: rgb(177, 222, 71);
    --color-5: rgb(82, 133, 64);
    --white-color: rgb(255, 255, 255)
    
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;  
    min-width: 100%;
}

header {
    margin: auto;
    font-family: 'Mogra', cursive;
    background-image: linear-gradient(to top, var(--color-4),var(--color-5));
    font-size: 2EM;
    height: 200px;
    text-align: center;
}

header h1 {
    padding-top:10px;
    font-size: 2.3em;
    color: black;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.500);
}

.alimentha {
    color: var(--color-2);
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.500);
}

header h2 {
    padding-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.70em;
    color: var(--white-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.500);  
    
}

header h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white-color);
    font-size: 0.70em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.500);    
}


a {
    text-decoration: none;
    color: var(--color-5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.250);    
}

.menu ul {
    background-color: var(--color-4);
    list-style-type: none;
    text-align: center;
}

.menu ul li{
    display: inline-block;
    padding: 5px;
    
}


.menu a {
    font-size: 1.2em;
    font-family: 'Mogra', cursive;
}

.historia {
    background-color: lightgrey;
    margin: 20px;
    height: 100%
}


footer a {
    text-decoration: none;
}


@media(max-width: 1030px) {
    .menu a {
        font-size: 0.9em;
    }
}